<div class='col-md-6 col-md-offset-3'>
  <h2>Please Sign in</h2>

  <%= form_tag '/signin' do %>
    <div class='form-group'>
      <%= label_tag :username, nil, class: 'sr-only' %>
      <%= text_field_tag :username,
        params[:username] || '',
        placeholder: 'Username',
        class: 'form-control',
        autofocus: true %>
    </div>

    <div class='form-group'>
      <%= label_tag :password, nil, class: 'sr-only' %>
      <%= password_field_tag :password,
        params[:password] || '',
        placeholder: 'Password',
        class: 'form-control' %>
    </div>

    <%= submit_tag 'Sign in', class: 'btn' %>
  <% end %>
</div>
