<div class='row'>
  <div class='col-md-3'>
    <%= image_tag(@user.avatar.profile_avatar,
      class: 'img-thumbnail')%>
  </div>
  <div class='col-md-9'>
    <h1><%= @user.username %></h1>
    <hr>
    <p><%= @user.bio %></p>
  </div>
</div>

<div class='row'>
<div class='col-md-12'>
  <ul class='nav nav-tabs'>
    <li class='<%= 'active' if params[:tab].nil? %>'>
      <%= link_to 'Posts', user_path(@user) %></h3>
    </li>
    <li class='<%= 'active' if params[:tab] == 'comments' %>'>
      <%= link_to 'Comments', user_path(@user, tab: 'comments') %></h3>
    </li>
  </ul>
</div>
</div>

<div class='row'>
<div class='col-md-12'>
  <% if params[:tab].nil? %>
    <% @user.posts.each do |post| %>
      <%= render '/posts/profile_post', post: post %>
    <% end %>
  <% elsif params[:tab] == 'comments' %>
    <% @user.comments.each do |comment| %>
      <%= render '/comments/profile_comment', comment: comment, show_post: true %>
    <% end %>
  <% end %>
</div>
</div>
