<%= render 'shared/errors', obj: @post %>

<%= form_for @post, :html => {:multipart => true} do |f| %>

  <div class='form-group'>
    <%= f.label :title, class: 'sr-only' %>
    <%= f.text_field :title,
      class: 'form-control',
      placeholder: 'Title',
      autofocus: true %>
  </div>

  <div class='form-group'>
    <%= f.label :body, class: 'sr-only' %>
    <%= f.text_area :body,
      class: 'form-control',
      rows: 6,
      placeholder: 'Body' %>
  </div>

  <div class='form-group'>
    <%= f.label :tags, class: 'sr-only'%>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |cb| %>
      <% cb.label(class: 'checkbox-inline') {cb.check_box(class: 'checkbox-inline') + cb.text} %>
    <% end %>
  </div>

  <%= f.submit @post.new_record? ? 'Submit' :
    'Update Post', class: 'btn' %>
<% end %>
