<div class='row post-space-top'>
  <div class='col-md-2'>
    <%= image_tag(@post.creator.avatar.post_avatar,
                  class: 'img-thumbnail')%>
  </div>
  <div class='col-md-10'>
    <h2><%= @post.title %></h2>
    <p><%= @post.body %></p>
    <hr>
    <small>
      From <%= link_to @post.creator.username, user_path(@post.creator) %>
      on <%= @post.created_at %>
      <%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe,
        edit_post_path(@post) %>
    </small>
  </div>
</div>

<% if signed_in? %>

<div class='row post-space-top'>
  <div class='col-md-6'>
    <%= form_for [@post, @comment] do |f| %>
      <%= render 'shared/errors', obj: @comment %>
      <div class='form-group'>
        <%= f.label :body, class: 'sr-only' %>
        <%= f.text_area :body,
          class: 'form-control',
          rows: 6,
          placeholder: 'Comment' %>
      </div>
      <%= f.submit 'Create Comment', class: 'btn' %>
    <% end %>
  </div>
</div>

<% end %>

<div class='row post-space-top'>
  <div class='col-md-12'>
    <h3>Comments</h3> 
  </div>
</div>

<% @post.reload.comments.each do |comment| %>
  <div class='row post-space-top'>
    <div class='col-md-12'>
      <%= render 'comments/comment', comment: comment %>
    </div>
  </div>
<% end %>
