<!DOCTYPE html>
<html>
<head>
  <title>Community</title>
  <%= stylesheet_link_tag 'application',
    media: 'all',
    'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'custom',
    media: 'all',
    'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container first-container'>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2'>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
  </div
</body>
</html>
