<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <%= stylesheet_link_tag 'application',
    media: 'all',
    'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'custom',
    media: 'all',
    'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>

  <div class='first-container'>
    <%= render 'layouts/messages' %>

    <%= yield %>

  </div>
</body>
</html>
